---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';

const projects = await getCollection("projects");
console.log(projects);
---

<Layout title="Javier Carrillo">
	<h1>WIP!</h1>
</Layout>
