---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col flex-wrap items-center justify-center mb-5 mt-10 gap-8 text-white"
>
	<Button size={'lg'} href="#main" style={'primary'} name="Contact">Go back!</Button>
	<hr class="w-1/2" />
	<div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
		<Social />
	</div>
</section>
