---
import Button from '@components/ui/Button.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import '@styles/global.css';

const menuitems = [
	{
		title: 'whoami',
		path: '#whoami',
	},
  {
    title: 'certifications',
    path: '#certifications',
  },
	{
		title: 'contact',
		path: '#contact',
	},
  {
		title: 'resume',
		path: 'https://s3.amazonaws.com/javiercarrillo.dev/public/JavierCarrillo_resume_en.pdf',
	},
];
---
<header data-testId="header" class="sticky top-0 z-50 bg-sky-900">
  <div class="container mx-auto">
    <div class="flex flex-col items-center justify-between lg:flex-row py-4 mx-5">
      <Astronav>
        <div class="flex w-full items-center justify-between lg:w-auto">
          <Button size={'sm'} href="/projects" name="Download CV">My blog!</Button>
          <div class="block lg:hidden">
            <MenuIcon class="h-4 w-4 text-white" />
          </div>
        </div>
        <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item) => (
                <li>
                  <a
                    aria-label="navigation link"
                    href={item.path}
                    class="flex py-2 text-white hover:text-sky-300 lg:px-3"
                  >
                    {item.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </div>
  </div>
  <div class="w-full h-px opacity-50 bg-[#69ccf9] rounded-[1px] flex justify-center">
</header>
