---
// import Header from "@components/Header.astro";
// import Navbar from "../components/Navbar.astro";
import Navbar from '@components/Navbar.astro';
// import { SEO } from 'astro-seo';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description="N/A", image="/images/test.jpg" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="icon" type="image/png" href="https://s3.amazonaws.com/javiercarrillo.dev/public/favicon.png" />

		<meta property="og:image" content={image}/>
		<title>{title}</title>
	</head>
	<body class="mx-auto max-w-screen-xl bg-sky-900 px-5 font-sans text-white xs:text-[20px] md:text-[24px]">
		<Navbar/>
		<!-- <Header/> -->
		<slot />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
