---
import Navbar from '@components/Navbar.astro';
import PageLoader from '@components/PageLoader.astro';
// import { SEO } from 'astro-seo';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description="Javier's personal website", image="https://javiercarrillo.dev/images/generic-post.svg" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/images/site-icon.svg" />
		<meta property="og:image" content={image}/>
		<title>{title}</title>
	</head>
	<body class="relative mx-auto max-w-screen-xl bg-surface px-5 font-inter text-on-surface xs:text-[20px] md:text-[24px]">
		<PageLoader />
		<div class="grain-overlay"></div>
		<Navbar/>
		<!-- <Header/> -->
		<slot />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
